---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

import {getCollection} from "astro:content";

let allPosts = (await getCollection("post"));
allPosts = allPosts.sort((a, b) => +b.data.publishedAt - +a.data.publishedAt).slice(0, 2);
---

<Layout title="O nás" description="Školní bulvár, o kterém radši nikdo neslyšel. Vznikl jako legitimní konkurent Gybonovinám."
        canonical={"https://mladafrontavcera.cz/"}>
    <div
            class="min-h-screen flex flex-col w-full mx-auto justify-center max-w-5xl"
            id="newest"
    >

        <div class=" mb-20 font-bold relative ">
            <div class="absolute flex flex-row -top-10 left-1/2 -translate-x-1/2 -z-10">
                <span class="text-[150px] -mt-20 text-center z-10 text-sky-100/75 text-clip block">něco</span>
            </div>
            <h2 class="text-center text-5xl z-10">
                Něco sem
            </h2>
        </div>


        <div class="flex justify-center mt-5">
            <p>lorem ipsum</p>
        </div>
    </div>

    <div class="bg-white mt-24 rounded-2xl">
        <div class="mx-auto max-w-7xl px-6 py-24 sm:py-32 lg:flex lg:items-center lg:justify-between lg:px-8">
            <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Chceš víc?<br>Sleduj nás na
                instagramu.</h2>
            <div class="mt-10 flex items-center gap-x-6 lg:mt-0 lg:flex-shrink-0">
                <a href="https://instagram.com/mladafrontavcera" class="text-md font-semibold leading-6 text-gray-900">Instagram
                    <span aria-hidden="true" class="inline"><svg
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                            stroke="currentColor" class="size-4 -mt-0.5 inline">
  <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"/>
</svg>
</span></a>
            </div>
        </div>
    </div>
</Layout>

<script>
    gsap.from("#hero--title", {opacity: 0, y: -50, duration: 0.5});
</script>
