---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

import {getCollection} from "astro:content";

let allPosts = (await getCollection("post"));
allPosts = allPosts.sort((a, b) => +b.data.publishedAt - +a.data.publishedAt).slice(0, 2);
---

<Layout description="Noviny, který nečte ani naše babička. Studentský školní bulvár z Gymnázia Boženy Němcové, o kterém radši nikdo neslyšel. Vznikl jako legitimní konkurent Gybonovinám.">
    <div class="h-[calc(100vh-68px)]">
        <div
                class="flex text-left flex-col max-w-6xl mx-auto px-8 py-4 gap-2 justify-center -mt-10 h-full"
        >
            <span class="absolute font-bold sm:text-[300px] text-[200px] leading-none text-sky-100/50 -mt-20 tracking-wider z-10 font-aktiv-grotesk [overflow-wrap:anywhere]">GYBON</span>
            <h1 class="sm:text-7xl text-5xl text-left z-20 font-aktiv-grotesk font-medium w-fit mx-auto"
                id="hero--title">
                Noviny,<br>který nečte ani naše babička.
            </h1>
            <h2 class="text-xl mt-3 text-center font-base z-20">
                Školní bulvár, o kterém radši nikdo neslyšel. Vznikl jako
                legitimní konkurent Gybonovinám.
            </h2>

            <div class="self-center my-5 z-20 sm:mt-24 mt-12">
                <a
                        href="#newest"
                        type="button"
                        class="rounded-full bg-sky-300 px-3.5 py-2 text-base font-semibold text-white shadow-sm hover:bg-sky-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600"
                >Číst</a
                >
                <a
                        href="https://gybonoviny.org/"
                        type="button"
                        class="rounded-full px-3.5 py-2 text-base font-semibold text-black hover:text-gray-500"
                >Dneska ne :(</a
                >
            </div>
        </div>
    </div>
    <div
            class="min-h-screen flex flex-col w-full mx-auto justify-center max-w-5xl"
            id="newest"
    >

        <div class=" mb-20 font-bold relative ">
            <div class="absolute flex flex-row -top-10 left-1/2 -translate-x-1/2 -z-10">
                <h3 class="text-[150px] -mt-20 text-center z-10 text-sky-100/75 text-clip block">newest</h3>
            </div>
            <h2 class="text-center text-5xl z-10">
                Nejnovější články
            </h2>
        </div>

        <div
                class="flex sm:flex-row flex-col justify-center gap-8 mb-12 max-w-5xl mx-auto"
        >
            {
                allPosts.map((post) => (
                        <a class="sm:w-1/2" href={"/posts/" + post.slug + "/"}>
                            <Card
                                    title={post.data.title}
                                    content={post.body}
                                    image={post.data.image}
                            />
                        </a>
                ))
            }
        </div>
        <div class="flex justify-center mt-5">
            <a
                    href="/all"
                    type="button"
                    class="rounded-full bg-sky-300 px-3.5 py-2 text-base font-semibold text-white shadow-sm hover:bg-sky-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600"
            >Všechny články</a
            >
        </div>
    </div>

    <div class="bg-white">
        <div class="mx-auto max-w-7xl px-6 py-24 sm:py-32 lg:flex lg:items-center lg:justify-between lg:px-8">
            <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Chceš víc?<br>Sleduj nás na
                instagramu.</h2>
            <div class="mt-10 flex items-center gap-x-6 lg:mt-0 lg:flex-shrink-0">
                <a href="https://instagram.com/mladafrontavcera" class="text-md font-semibold leading-6 text-gray-900">Instagram
                    <span aria-hidden="true" class="inline"><svg
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                            stroke="currentColor" class="size-4 -mt-0.5 inline">
  <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"/>
</svg>
</span></a>
            </div>
        </div>
    </div>

</Layout>

<script>
    gsap.from("#hero--title", {opacity: 0, y: -50, duration: 0.5});
</script>
