---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

import { getCollection } from "astro:content";

const allPosts = (await getCollection("post")).slice(0,2);
---

<Layout title="Welcome">
	<div class="h-[calc(100vh-68px)]">
		<div
			class="flex text-left flex-col max-w-6xl mx-auto px-8 py-4 gap-2 justify-center -mt-10 h-full"
		>
			<span class="absolute font-bold sm:text-[300px] text-[220px] leading-none text-sky-100/50 -mt-20 tracking-wider z-10 font-aktiv-grotesk [overflow-wrap:anywhere]">GYBON</span>
			<h1 class="sm:text-7xl text-5xl text-left z-20 font-aktiv-grotesk font-medium" id="hero--title">
				Noviny,<br>který nečte ani naše babička.
			</h1>
			<p class="text-xl mt-3 text-center z-20">
				Školní bulvár o kterém radši nikdo neslyšel. Vznikl jako
				legitimní konkurent Gybonovinám.
			</p>

			<div class="self-center my-5 z-20 mt-24">
				<a
					href="#newest"
					type="button"
					class="rounded-full bg-sky-300 px-3.5 py-2 text-base font-semibold text-white shadow-sm hover:bg-sky-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600"
					>Číst</a
				>
				<a
					href="https://gybonoviny.org/"
					type="button"
					class="rounded-full px-3.5 py-2 text-base font-semibold text-black hover:text-gray-500"
					>Dneska ne :(</a
				>
			</div>
		</div>
	</div>
	<div
		class="min-h-screen flex flex-col w-full mx-auto justify-center max-w-5xl"
		id="newest"
	>
		<h2  class="text-center text-5xl mb-8 font-bold">
			Nejnovější články
		</h2>

		<div
			class="flex flex-row justify-center gap-8 mb-12 max-w-5xl mx-auto"
		>
			{
				allPosts.map((post) => (
					<a class="sm:w-1/2" href={"/posts/" + post.slug}>
						<Card
							title={post.data.title}
							content={post.body}
							image={post.data.image}
						/>
					</a>
				))
			}
		</div>
		<div class="flex justify-center mt-5">
			<a
				href="/all"
				type="button"
				class="rounded-full bg-sky-300 px-3.5 py-2 text-base font-semibold text-white shadow-sm hover:bg-sky-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600"
				>Všechny články</a
			>
		</div>
	</div>
</Layout>

<script>
	gsap.from("#hero--title", {opacity: 0, y: -50, duration: 0.5});
</script>