---
interface Props {
	title: string;
	content: string;
	image: string;
}

const { title, content, image} = Astro.props;
---

<div class="shadow-lg bg-white border rounded-lg p-5 pb-4 h-full overflow-clip">
	<img class="aspect-video w-full object-cover rounded-md shadow" src={image}>
	<div class="mt-2">
		<h2 class="text-3xl font-medium tracking-wide">{title}</h2>
		<p class="text-ellipsis mt-1.5">{content.slice(0, 150) + "..."}</p>
	</div>
	
</div>