---
interface Props {
	title: string;
    description?: string;
    additionalMeta?: any;
}

const { title, description } = Astro.props;

import "@fontsource/montserrat";
import "@fontsource/noto-sans";

import { getCollection } from "astro:content";

const allPosts = await getCollection('post');

allPosts.sort((a, b) => +b.data.publishedAt - +a.data.publishedAt);

const newestPost = allPosts[0];

import gsap from "gsap";
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content={description || ''}/>

    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="viewport" content="width=device-width"/>
    <meta name="keywords" content="Mladá fronta včera, Gymnázium Boženy Němcové, GYBON, školní časopis, Gybonoviny, Hradec Králové, školní bulvár, Mladá fronta dnes, Gybonoviny.cz, gybon.cz, mfv, MF včera" />

    <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
    <meta name="generator" content={Astro.generator}/>
    <slot name="head"/>
    <script
            is:inline
            src="https://cdn.jsdelivr.net/npm/gsap@3.12/dist/gsap.min.js"
    ></script>
    <!-- Google tag (gtag.js) -->
    <script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-C8V9D89KLW"></script>
    <script>
        // @ts-ignore
        window.dataLayer = window.dataLayer || [];

        // @ts-ignore
        function gtag() {
            // @ts-ignore
            dataLayer.push(arguments);
        }

        // @ts-ignore
        gtag('js', new Date());
        // @ts-ignore
        gtag('config', 'G-C8V9D89KLW');
    </script>

    <title>{title} - Mladá Fronta Včera</title>
    <style is:global>
        :root {
            scroll-behavior: smooth;
        }

        p {
            font-family: "Montserrat";
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: "Aktiv Grotesk";
            font-weight: 600;
            @apply tracking-tight;
        }


        @font-face {
            font-family: "Aktiv Grotesk";
            src: url("/fonts/AktivGrotesk-Bold.ttf") format("truetype");
            font-weight: bold;
        }

        @font-face {
            font-family: "Funnel Sans";
            src: url("/fonts/FunnelSans-Bold.ttf") format("truetype");
            font-weight: bold;
        }
    </style>
</head>
<body class="bg-white">
<div>
    <div x-data="{ open: false }">
        <div class="min-h-screen bg-sky-50/25 pb-20">
            <div class="">
                <nav
                        class="flex flex-row p-1 select-none px-5 justify-center bg-sky-50/75"
                >
                    <a href="/" class="capitalize text-3xl font-bold"
                    >
                        <svg class="sm:h-20 h-16" xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 147.8 39.16">
                            <style>
                                .cls-1 {
                                    fill: #1d1d1b;
                                    stroke-width: 0px;
                                }
                            </style>
                            <g id="logo--1">
                                <path class="cls-1"
                                      d="M8.34,25.64l-1.88-8.46,2.53-.56,3.32,5.23h.04s.79-6.15.79-6.15l2.52-.56,1.88,8.46-1.92.43-1.25-5.62h-.04s-.64,6.05-.64,6.05l-1.61.36-3.14-5.2h-.04s1.25,5.63,1.25,5.63l-1.8.4Z"/>
                                <path class="cls-1"
                                      d="M19.41,23.18l-1.88-8.46,1.92-.43,1.5,6.75,3.82-.85.38,1.71-5.75,1.27Z"/>
                                <path class="cls-1"
                                      d="M25.53,21.82l1.35-9.18,1.93-.43,5.05,7.76-2,.44-1.08-1.78-3.01.67-.29,2.08-1.94.43ZM27.98,17.55l1.91-.42-1.49-2.45h-.04s-.38,2.88-.38,2.88Z"/>
                                <path class="cls-1"
                                      d="M34.87,19.75l-1.88-8.46,3.08-.68c.84-.19,1.62-.18,2.32.02.7.2,1.3.58,1.79,1.14.49.56.83,1.27,1.02,2.14.19.86.18,1.65-.03,2.36-.21.71-.59,1.31-1.14,1.79-.55.48-1.24.82-2.08,1l-3.08.68ZM36.42,17.66l1.16-.26c.49-.11.88-.31,1.16-.6.29-.29.48-.65.57-1.07.09-.42.08-.89-.03-1.4-.17-.77-.5-1.34-1-1.72s-1.11-.49-1.83-.33l-1.16.26,1.13,5.12Z"/>
                                <path class="cls-1"
                                      d="M42.45,18.07l1.35-9.18,1.93-.43,5.05,7.76-2.01.44-1.08-1.78-3.01.67-.29,2.08-1.94.43ZM43.53,8.15v-.04s.7-2.14.7-2.14l2.03-.45v.04s-1.21,2.25-1.21,2.25l-1.52.34ZM44.9,13.8l1.91-.42-1.49-2.45h-.04s-.38,2.88-.38,2.88Z"/>
                            </g>
                            <g id="logo--2">
                                <path class="cls-1"
                                      d="M47.12,30.02l-1.92.43-1.88-8.46,5.64-1.25.38,1.71-3.72.82.36,1.63,3.37-.75.38,1.71-3.37.75.75,3.41Z"/>
                                <path class="cls-1"
                                      d="M52.09,28.91l-1.88-8.46,4.04-.9c.54-.12,1.04-.13,1.49-.04.45.09.83.29,1.14.58.31.29.52.68.62,1.15.1.43.08.84-.06,1.22-.13.38-.42.69-.85.93v.04c.45-.1.8-.06,1.07.11.27.17.45.48.55.91l.65,2.95-1.92.43-.69-3.13-2.95.65.69,3.13-1.92.43ZM52.94,23.64l2-.44c.29-.06.51-.2.66-.41.15-.21.19-.46.12-.76-.07-.31-.21-.52-.43-.64-.22-.12-.48-.15-.77-.09l-2,.44.42,1.9Z"/>
                                <path class="cls-1"
                                      d="M64.29,26.34c-.77.17-1.49.14-2.17-.08-.68-.23-1.26-.63-1.75-1.2s-.83-1.3-1.03-2.19c-.2-.89-.2-1.7,0-2.43.2-.73.56-1.34,1.08-1.82.52-.49,1.16-.82,1.93-.99.77-.17,1.5-.15,2.18.07.68.22,1.26.62,1.74,1.19.49.57.83,1.31,1.03,2.21.2.88.19,1.69,0,2.42-.2.73-.56,1.34-1.08,1.83-.52.49-1.16.82-1.93.99ZM63.91,24.63c.42-.09.76-.28,1.01-.57.26-.29.43-.65.51-1.08.08-.43.07-.92-.05-1.45-.12-.54-.31-.98-.57-1.34-.26-.36-.56-.61-.92-.76-.35-.15-.74-.17-1.16-.08-.41.09-.75.28-1.01.56-.26.29-.43.64-.52,1.08-.08.44-.06.92.05,1.46.12.53.31.97.56,1.33.26.36.57.61.93.76.36.15.74.18,1.15.09Z"/>
                                <path class="cls-1"
                                      d="M77.16,23.36l-2.03.45-4.73-4.54h-.04s1.18,5.34,1.18,5.34l-1.8.4-1.88-8.46,1.92-.43,4.87,4.67h.04s-1.22-5.49-1.22-5.49l1.8-.4,1.88,8.46Z"/>
                                <path class="cls-1"
                                      d="M82.66,22.13l-1.92.43-1.5-6.75-2.39.53-.38-1.71,6.71-1.49.38,1.71-2.39.53,1.5,6.75Z"/>
                                <path class="cls-1"
                                      d="M84.12,21.81l1.35-9.18,1.93-.43,5.05,7.76-2.01.44-1.08-1.78-3.01.67-.29,2.08-1.94.43ZM86.57,17.54l1.91-.42-1.49-2.45h-.04s-.38,2.88-.38,2.88Z"/>
                            </g>
                            <g id="logo--3">
                                <path class="cls-1"
                                      d="M89.94,33.5l-4.96-7.78,2.12-.47,3.48,5.74h.04s.7-6.67.7-6.67l2.08-.46-1.21,9.14-2.26.5Z"/>
                                <path class="cls-1"
                                      d="M99.44,31.56c-.79.17-1.52.15-2.19-.09-.68-.23-1.25-.64-1.73-1.23-.48-.58-.81-1.31-1-2.18-.19-.87-.2-1.67-.01-2.4.18-.73.53-1.35,1.05-1.84.51-.5,1.16-.83,1.95-1.01.65-.14,1.26-.15,1.83,0,.57.14,1.07.4,1.51.79s.76.89.97,1.49l-2.01.44c-.14-.39-.38-.67-.74-.86-.35-.18-.75-.23-1.18-.13-.41.09-.75.28-1,.57s-.43.65-.51,1.08c-.08.43-.06.91.06,1.45.12.53.3.97.56,1.33.26.36.56.61.92.77.36.15.74.18,1.15.09.43-.1.77-.3,1.01-.62.24-.32.35-.68.31-1.09l2.01-.44c.06.64-.02,1.22-.25,1.76-.23.54-.57.99-1.03,1.36-.46.37-1.01.62-1.66.77ZM96.47,22.36l-1.87-1.57v-.04s1.5-.33,1.5-.33l1.03.6.66-.98,1.48-.33v.04s-1,2.21-1,2.21l-1.8.4Z"/>
                                <path class="cls-1"
                                      d="M109.93,29.07l-5.74,1.27-1.88-8.46,5.74-1.27.38,1.71-3.82.85.34,1.53,3.49-.77.37,1.67-3.49.77.41,1.84,3.82-.85.38,1.71Z"/>
                                <path class="cls-1"
                                      d="M111.49,28.72l-1.88-8.46,4.04-.9c.54-.12,1.04-.13,1.49-.04.45.09.83.29,1.14.58.31.29.52.68.62,1.15.1.43.08.84-.06,1.22-.13.38-.42.69-.85.93v.04c.45-.1.8-.06,1.07.11.27.17.45.48.55.91l.65,2.95-1.92.43-.69-3.13-2.95.65.69,3.13-1.92.43ZM112.34,23.44l1.99-.44c.29-.06.51-.2.66-.41.15-.21.19-.46.12-.76-.07-.31-.21-.52-.43-.64-.22-.12-.48-.15-.77-.09l-2,.44.42,1.9Z"/>
                                <path class="cls-1"
                                      d="M119.18,27.01l1.35-9.18,1.93-.43,5.05,7.76-2.01.44-1.08-1.78-3.01.67-.29,2.08-1.94.43ZM121.63,22.74l1.91-.42-1.49-2.45h-.04s-.38,2.88-.38,2.88Z"/>
                            </g>
                            <g id="logo--4">
                                <rect class="cls-1" x="114.16" y="27.95" width="32.14" height="1.41"
                                      transform="translate(-3.11 28.86) rotate(-12.5)"/>
                            </g>
                        </svg>
                    </a
                    >
                </nav>
            </div>
            <div id="smooth-wrapper" class="mt-10 px-5 overflow-x-clip ">
                <div id="smooth-content">
                    <slot/>
                </div>
            </div>
        </div>
        <div class="flex flex-col max-w-6xl mx-auto py-6 px-6">
            <div class="flex flex-row gap-6 sm:justify-end justify-center mb-8 *:transition-all">
                <a href="https://instagram.com/mladafrontavcera" class="text-black text-base hover:underline">Instagram</a>
                <a href={`/posts/${newestPost.slug}/`} class="text-black text-base hover:underline">Nejnovější článek</a>
                <a href="/sitemap-index.xml" class="text-black text-base hover:underline">Mapa stránky</a>
            </div>
            <div class="flex sm:flex-row flex-col gap-8 justify-between items-center">
                <a href="/" class="text-black text-base"><img class="h-16 text-gray-400" src="/mfv_logo-02.svg"></a>
                <p class="text-gray-400 text-base text-center">
                    Copyright © 2024 redakce Mladé Fronty Včera. Všechna práva vyhrazena.
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>

<script>
    gsap.registerPlugin();

    gsap.from("#logo--1", {
        opacity: 0,
        y: -50,
        duration: 0.4,
        delay: 0.2
    })
    gsap.from("#logo--2", {
        opacity: 0,
        y: -50,
        duration: 0.4,
        delay: 0.7
    })
    gsap.from("#logo--3", {
        opacity: 0,
        y: -50,
        duration: 0.4,
        delay: 1.1
    })
    gsap.from("#logo--4", {
        opacity: 0,
        x: 50,
        y: -11.084733,
        duration: 0.4,
        delay: 1.5
    })
</script>
